RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=

# Booking events
RABBITMQ_BOOKING_EXCHANGE=booking.exchange

# BOOKING Routing keys
RABBITMQ_BOOKING_ROUTING_CREATED=booking.created
RABBITMQ_BOOKING_ROUTING_UPDATED=booking.updated
RABBITMQ_BOOKING_ROUTING_DELETED=booking.deleted

# BOOKING Queues
RABBITMQ_BOOKING_QUEUE_CREATED=booking.created.queue
RABBITMQ_BOOKING_QUEUE_UPDATED=booking.updated.queue
RABBITMQ_BOOKING_QUEUE_DELETED=booking.deleted.queue

# Users events
RABBITMQ_USERS_EXCHANGE=users.exchange
RABBITMQ_USERS_ROUTING_KEY=users.#
# Users Routing keys
RABBITMQ_USERS_ROUTING_CREATED=users.created

# Users Queues
RABBITMQ_USERS_QUEUE_CREATED=users.created.queue


# Provider events
RABBITMQ_PROVIDER_EXCHANGE=provider.exchange
RABBITMQ_PROVIDER_ROUTING_KEY=provider.#
# Provider Routing keys
RABBITMQ_PROVIDER_ROUTING_CREATED=provider.created
RABBITMQ_PROVIDER_ROUTING_UPDATED=provider.updated
RABBITMQ_PROVIDER_ROUTING_DELETED=provider.deleted

# Provider Queues
RABBITMQ_PROVIDER_QUEUE_CREATED=provider.created.queue
RABBITMQ_PROVIDER_QUEUE_UPDATED=provider.updated.queue
RABBITMQ_PROVIDER_QUEUE_DELETED=provider.deleted.queue

==
